<%= comment.content %>

<%= render "comment", parent_comment_id: comment.id, message: "Reply to This Comment" %>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li><%= comment_partial(child_comment, comments_by_parent) %>
    </li>
  <% end %>
</ul>