<h1>New Post</h1>

<form action="<%= sub_posts_url(@sub.id) %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label> Title
	  <input type="text" name="post[title]">
	</label>
	<br>

	<label> URL (must start with "www")
	  <input type="text" name="[post][url]">
	</label>
	<br>

    <label> Content
	  <input type="text" name="[post][content]">
 	</label>
 	<br><br>

	<input type="hidden" name="post[sub_id]" value="<%= @sub.id%>">
	<input type="hidden" name="post[user_id]" value="<%= current_user.id%>">

	<input type="submit">
</form>